<div class="d-flex flex-row justify-content-between align-items-center p-2 my-2 searchBar">
    <div class="">
        <div class="searchBackground">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search.." class="border-0" style="margin: 0 5px" />
        </div>
    </div>


    <div class="d-flex flex-row align-items-center">

        <div class="p-3 d-flex flex-row text-white justify-content-between dropdownDiv">

            <div>Today</div>

            <div>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
</div>